@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --background-site-body: #f1f1f1;
  --background-section-color: #ffffff;
  --background-first-line-color: #null;
  --first-color-text: #666666;
  --second-color-text: #ffffff;
  --third-color-text: #333333;
  --fourth-color-text: #000000;
  --fifth-color-text: #999999;
  --first-color-text-hover: #cc9933;
  --color-focus-visible: #cc9933;
  --first-color-text-focus-visible: #cc9933;
  --first-color-text-active: #a47312;
  --first-color-button-hover: #cc9933;
  --first-color-button-focus-visible: #cc9933;
  --first-color-button-active: #a47312;
  --first-font-family: "Muller";
  --second-font-family: "Geneva";
  --third-font-family: "Tahoma";
  --fourth-font-family: "san-serif";
  --first-font-weight: 400;
  --second-font-weight: 500;
  --third-font-weight: 700;
  --text-size-first: 12px;
  --text-size-second: 16px;
  --text-size-third: 20px;
  --text-size-fourth: 40px;
  --text-size-fifth: 60px;
  --scrollbar-size: 8px;
  --scrollbar-track-color: null;
  --scrollbar-track-corner-radius: 10px;
  --scrollbar-thumb-color: #cc9933;
  --scrollbar-thumb-corner-radius: null;
  --scrollbar-corner-color: null;
}

.site-main__site-hero, .site-main__site-about, .site-main__site-services, .site-main__site-advantages, .site-main__site-placement, .site-main__site-form, .site-main__site-contacts {
  padding-top: 35px;
  padding-bottom: 40px;
}

.site-page {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.site-page__site-body {
  margin: 0;
  padding: 30px 0;
}

.site-body {
  min-width: 320px;
  font-family: var(--first-font-family), var(--second-font-family), var(--third-font-family), var(--fourth-font-family);
  font-weight: var(--first-font-weight);
  background-color: var(--background-site-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
@media screen and (any-pointer: coarse) {
  .site-body {
    text-rendering: optimizeSpeed;
  }
}
.site-body__site-preloader {
  position: fixed;
  z-index: 1000;
  inset: 0;
}
.site-body::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}
.site-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cc9933;
}
.site-body_scrollbar_visible::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}
.site-body__section-progress {
  background-color: var(--background-first-line-color);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.site-preloader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-site-body);
  background-repeat: no-repeat;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  isolation: isolate;
}
.site-preloader::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../assets/images/preloader.jpg");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("../assets/images/preloader.jpg");
  background-size: 100% 100%;
  inset: 0;
}
.site-preloader_is_hidden {
  visibility: hidden;
  opacity: 0;
}
.site-preloader_status_loaded {
  display: none;
}
.site-preloader__load-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.site-preloader__hello {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.site-preloader__loader-frame {
  position: relative;
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 10%;
}
.site-preloader__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #ffff00;
  border-radius: 50%;
}
.site-preloader__loader {
  position: absolute;
  width: 250px;
  height: 250px;
  border-top: 5px solid #ba68c8;
  border-bottom: 5px solid #f57300;
  border-radius: 50%;
  -webkit-animation: clockwisespin 5s linear 3;
          animation: clockwisespin 5s linear 3;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.site-preloader__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-top: 20%;
  padding: 0;
  list-style: none;
}
.site-preloader__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  list-style: none;
  -webkit-animation: grow 1.6s ease-in-out infinite;
          animation: grow 1.6s ease-in-out infinite;
}
@-webkit-keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.site-preloader__item:nth-child(1) {
  background: #ffff00;
  -webkit-box-shadow: 0 0 50px #ffff00;
          box-shadow: 0 0 50px #ffff00;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
}
.site-preloader__item:nth-child(2) {
  background: #76ff03;
  -webkit-box-shadow: 0 0 50px #76ff03;
          box-shadow: 0 0 50px #76ff03;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.site-preloader__item:nth-child(3) {
  background: #f06292;
  -webkit-box-shadow: 0 0 50px #f06292;
          box-shadow: 0 0 50px #f06292;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.site-preloader__item:nth-child(4) {
  background: #4fc3f7;
  -webkit-box-shadow: 0 0 50px #4fc3f7;
          box-shadow: 0 0 50px #4fc3f7;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.site-preloader__item:nth-child(5) {
  background: #ba68c8;
  -webkit-box-shadow: 0 0 50px #ba68c8;
          box-shadow: 0 0 50px #ba68c8;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.site-preloader__item:nth-child(6) {
  background: #f57300;
  -webkit-box-shadow: 0 0 50px #f57300;
          box-shadow: 0 0 50px #f57300;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.site-preloader__item:nth-child(7) {
  background: #673ab7;
  -webkit-box-shadow: 0 0 50px #673ab7;
          box-shadow: 0 0 50px #673ab7;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
@-webkit-keyframes clockwisespin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes clockwisespin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo__item {
  vertical-align: bottom;
}

.site-title {
  position: absolute;
  clip-path: inset(100%);
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

.title {
  text-indent: 40px;
  font-size: var(--text-size-fourth);
  font-weight: var(--first-font-weight);
  line-height: normal;
  color: var(--third-color-text);
}

.button {
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  margin: 0;
  border-radius: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-transform: inherit;
  color: inherit;
  background: transparent;
  cursor: pointer;
}
.button:disabled {
  cursor: default;
}
.button.focus-visible {
  color: #ffffff;
  background-color: var(--first-color-button-hover);
}
.button_primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #cc9933;
  border-radius: 10px;
  font-size: 16px;
  color: #cc9933;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media screen and (any-hover: hover) {
  .button_primary:hover {
    border-color: var(--first-color-button-hover);
    color: #ffffff;
    background-color: var(--first-color-button-hover);
  }
}
.button_primary:active {
  border-color: var(--first-color-button-active);
  color: #ffffff;
  background-color: var(--first-color-button-active);
}
.button_primary_size {
  padding: 12px 19px;
}

.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.site-header__container {
  padding-bottom: 35px;
}
.site-header__logo {
  position: relative;
  margin-right: 40px;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.site-header__logo::before {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  outline: 1px solid var(--color-focus-visible);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  inset: -5px;
}
.site-header__logo.focus-visible::before {
  visibility: visible;
  opacity: 1;
}
.site-header__phone {
  position: relative;
  margin-right: auto;
  font-size: var(--text-size-third);
  font-weight: var(--second-font-weight);
  color: var(--first-color-text);
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.site-header__phone::before {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  outline: 1px solid var(--color-focus-visible);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  inset: -5px;
}
.site-header__phone.focus-visible::before {
  visibility: visible;
  opacity: 1;
}
@media screen and (any-hover: hover) {
  .site-header__phone:hover {
    color: var(--first-color-text-hover);
  }
}
.site-header__phone:active {
  color: var(--first-color-text-active);
}
.site-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 45px;
  border-radius: 15px;
  background-color: var(--background-section-color);
}
.site-header__sigin {
  position: relative;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.site-header__sigin::before {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  outline: 1px solid var(--color-focus-visible);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  inset: -5px;
}
.site-header__sigin.focus-visible::before {
  visibility: visible;
  opacity: 1;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 642px;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px 45px;
}
.menu__link {
  position: relative;
  font-size: 16px;
  color: #666666;
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media screen and (any-hover: hover) {
  .menu__link:hover {
    color: var(--first-color-text-hover);
  }
}
.menu__link::before {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  outline: 1px solid var(--color-focus-visible);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  inset: -5px;
}
.menu__link.focus-visible::before {
  visibility: visible;
  opacity: 1;
}
.menu__link:active {
  color: var(--first-color-text-active);
}
.menu__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 324px;
  gap: 20px 40px;
}

.sigin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  gap: 5px;
}
@media screen and (any-hover: hover) {
  .sigin:hover .sigin__link {
    color: #f0bf5f;
  }
  .sigin:hover:not(:active) .sigin__icon {
    fill: #f0bf5f;
  }
}
.sigin:active .sigin__link {
  color: #a47312;
}
.sigin__link {
  font-size: 16px;
  color: #cc9933;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.sigin__icon {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  fill: #cc9933;
}

.site-hero__title {
  margin: 0 0 21px;
}
.site-hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__list {
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-grid-columns: 1fr 24px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}
.article__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 40px 45px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.article__item_maldives {
  border-radius: 15px;
  background-color: #c3c3c3;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(-2.9%, rgba(48, 64, 89, 0.84)), color-stop(65.7%, rgba(53, 65, 83, 0))), url("../assets/images/section-hero-pic-maldivec@3x.webp");
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../assets/images/section-hero-pic-maldivec@3x.webp");
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}
.article__item_cryt {
  border-radius: 15px;
  background-color: #c3c3c3;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(-2.9%, rgba(48, 64, 89, 0.84)), color-stop(65.7%, rgba(53, 65, 83, 0))), url("../assets/images/section-hero-pic-cryt@3x.webp");
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../assets/images/section-hero-pic-cryt@3x.webp");
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}
.article__item_luxure {
  background-color: #c3c3c3;
  background-image: url("../assets/images/section-hero-pic-luxure@3x.webp");
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/3/3;
}
.article__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.article__title {
  max-width: 300px;
  margin: 0 0 12px;
  font-size: var(--text-size-fourth);
  font-weight: var(--third-font-weight);
  line-height: normal;
  color: var(--second-color-text);
}
.article__title_luxure {
  font-size: 60px;
}
.article__price {
  margin: 0 0 44px;
  font-size: var(--text-size-third);
  line-height: normal;
  color: var(--second-color-text);
  opacity: 0.8;
}
.article__price_luxure {
  font-size: 30px;
}
.article__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--text-size-second);
  line-height: normal;
  color: #f0bf5f;
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  gap: 6px;
}
@media screen and (any-hover: hover) {
  .article__link:hover .article__icon {
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.article__link:active {
  color: #ffffff;
}
.article__link:active .article__icon {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.article__link::before {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  outline: 1px solid var(--color-focus-visible);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  inset: -5px;
}
.article__link.focus-visible::before {
  visibility: visible;
  opacity: 1;
}
.article__icon {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  fill: transparent;
  stroke: #f0bf5f;
}

.site-about__title {
  margin: 0 0 20px;
  line-height: normal;
}
.site-about__description {
  width: 77%;
  margin: 0;
  font-size: var(--text-size-second);
  line-height: 200%;
  color: var(--fourth-color-text);
}

.site-services__title {
  margin: 0 0 20px;
}
.site-services__services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}
.services__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  -ms-grid-column-span: 1;
  grid-column: span 1;
}
.services__item_exclusive {
  background-image: url("../assets/images/section-services-exlusive@3x.png");
}
.services__item_rent {
  background-image: url("../assets/images/section-services-halls-for-rent@3x.png");
}
.services__item_relax {
  background-image: url("../assets/images/section-services-relax-rooms@3x.png");
}
.services__item_guarded {
  background-image: url("../assets/images/section-services-guarded-parking@2x.png");
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 191px 45px 35px 45px;
}
.services__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--text-size-third);
  font-weight: var(--second-font-weight);
  line-height: 200%;
  color: #cc9933;
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  gap: 7px;
}
@media screen and (any-hover: hover) {
  .services__link:hover .services__link-icon {
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.services__link:active {
  color: var(--first-color-text-active);
}
.services__link:active .services__link-icon {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.services__link::before {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  outline: 1px solid var(--color-focus-visible);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  inset: -5px;
}
.services__link.focus-visible::before {
  visibility: visible;
  opacity: 1;
}
.services__link-icon {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  stroke-width: 2px;
  fill: transparent;
  stroke: #cc9933;
}
.services__description {
  width: 82%;
  margin: 0;
  font-size: var(--text-size-second);
  line-height: 200%;
  color: var(--fourth-color-text);
}

.site-advantages__title {
  margin: 0 0 20px;
}
.site-advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 22px 1fr 22px 1fr 22px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 22px;
}
.advantages__item {
  padding: 38px 42px 32px 45px;
  border-radius: 15px;
  background-color: #ffffff;
  -ms-grid-column-span: 1;
  grid-column: span 1;
}
.advantages__icon {
  margin: 0 0 5px;
}
.advantages__description {
  margin: 0;
  font-size: var(--text-size-second);
  line-height: 200%;
  color: var(--fourth-color-text);
}

.site-placement__title {
  margin: 0 0 20px;
}
.site-placement__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.placement {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.placement__article {
  border-radius: 15px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.placement__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.placement__item {
  border-radius: 15px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -ms-grid-column-span: 1;
  grid-column: span 1;
}
.placement__item_decore {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../assets/images/section-placement-pic-decore@3x.webp");
}
.placement__wrapper {
  padding: 32px 45px 45px 45px;
}
.placement__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 16px;
}
.placement__description {
  margin: 0;
}
.placement__text {
  font-size: var(--text-size-second);
  line-height: normal;
  color: var(--fifth-color-text);
}
.placement__price {
  margin-right: 10px;
  font-size: var(--text-size-third);
  font-weight: var(--third-font-weight);
  line-height: normal;
  color: var(--fourth-color-text);
}
.placement__night {
  font-size: var(--text-size-second);
  line-height: normal;
  color: var(--fourth-color-text);
}
.placement__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.placement__title {
  margin: 0 0 16px;
  font-size: var(--text-size-second);
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  color: var(--fourth-color-text);
}
.placement__country {
  margin: 0 0 20px;
  font-size: var(--text-size-second);
  font-style: normal;
  line-height: normal;
  color: var(--fifth-color-text);
}
.placement__button {
  padding: 10.4px 19px;
}
.placement__wrapper-decore {
  position: relative;
}
.placement__picture-decore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.placement__image-decore {
  border-radius: 15px;
  background-color: #c3c3c3;
}
.placement__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 30px 25px 33px;
  font-size: var(--text-size-third);
  font-weight: var(--second-font-weight);
  font-style: normal;
  line-height: 200%;
  color: var(--second-color-text);
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  gap: 8px;
}
@media screen and (any-hover: hover) {
  .placement__link:hover .placement__link-icon {
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.placement__link:before {
  content: "";
  position: absolute;
  inset: 0;
}
.placement__link-icon {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  stroke-width: 2px;
  stroke: #ffffff;
  fill: transparent;
}
.placement__link:active {
  color: var(--first-color-text-active);
}
.placement__link:active .placement__link-icon {
  stroke: var(--first-color-text-active);
}
.placement__link:active .placement__link-icon {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.placement__link::before {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  outline: 1px solid var(--color-focus-visible);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  inset: -5px;
}
.placement__link.focus-visible::before {
  visibility: visible;
  opacity: 1;
}

.site-form__title {
  margin: 0 0 20px;
  text-indent: 0;
}
.site-form__wrapper {
  padding: 45px;
  border-radius: 15px;
  background-color: #e9e9e9;
}
.site-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29px 28px;
  border-radius: 15px;
  background-color: #ffffff;
}

.form__inner, .form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__text {
  margin: 0 0 15px;
  font-size: var(--text-size-first);
  line-height: normal;
  color: var(--fourth-color-text);
}
.form__select {
  width: 169px;
  border: none;
  font-family: Muller;
  font-size: var(--text-size-second);
  color: var(--fourth-color-text);
}
.form__input-date, .form__input {
  border: none;
  font-family: Muller;
  font-size: var(--text-size-second);
  color: var(--fourth-color-text);
}
.form__input {
  width: 121px;
  border-bottom: 1px solid #e9e9e9;
}
.form__button {
  padding: 11px 30px;
}

.site-contacts__title {
  margin: 0 0 20px;
}
.site-contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px;
  border-radius: 15px;
  background-color: #ffffff;
  gap: 52px;
}
.site-contacts__list {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style: none;
}
.site-contacts__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.site-contacts__button {
  padding: 25px 29px;
}

.contacts {
  font-style: normal;
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 375px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e9e9e9;
}
.contacts__item:not(:first-child) {
  padding-top: 25px;
}
.contacts__text {
  margin: 0;
  font-size: var(--text-size-third);
  font-weight: var(--third-font-weight);
  line-height: normal;
  color: var(--fourth-color-text);
}
.contacts__address {
  width: 229px;
  font-size: var(--text-size-second);
  line-height: 150%;
  margin: 0;
  color: var(--fourth-color-text);
}
.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 229px;
}
.contacts__span-text {
  font-size: var(--text-size-second);
  line-height: 150%;
  color: var(--fifth-color-text);
}
.contacts__description {
  width: 229px;
  margin: 0;
  font-size: var(--text-size-second);
  line-height: 150%;
  color: var(--fourth-color-text);
}

.footer__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px;
  border-radius: 15px;
  background: #333333;
}
.footer__wrapper::before {
  content: "";
  position: absolute;
  right: 177px;
  bottom: 0;
  width: 254px;
  height: 228px;
  background-image: url("../assets/images/icon-footer-sun.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.footer__descriptions-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 302px;
  margin-right: 11.6%;
  gap: 36px;
}
.footer__description {
  margin: 0;
  font-size: var(--text-size-second);
  line-height: 190%;
  color: var(--second-color-text);
}
.footer__link {
  position: relative;
  font-size: var(--text-size-second);
  line-height: 150%;
  color: #cc9933;
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media screen and (any-hover: hover) {
  .footer__link:hover {
    color: #f0bf5f;
  }
}
.footer__link::before {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  outline: 1px solid var(--color-focus-visible);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  inset: -5px;
}
.footer__link.focus-visible::before {
  visibility: visible;
  opacity: 1;
}
.footer__link:active {
  color: var(--first-color-text-active);
}
.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 359px;
  margin-right: auto;
  font-style: normal;
  gap: 15px;
}
.footer__phones, .footer__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.phones,
.email {
  position: relative;
  font-size: var(--text-size-second);
  line-height: 150%;
  color: #cc9933;
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media screen and (any-hover: hover) {
  .phones:hover,
  .email:hover {
    color: #f0bf5f;
  }
}
.phones::before,
.email::before {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  outline: 1px solid var(--color-focus-visible);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  inset: -5px;
}
.phones.focus-visible::before,
.email.focus-visible::before {
  visibility: visible;
  opacity: 1;
}
.phones:active,
.email:active {
  color: var(--first-color-text-active);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media screen and (any-hover: hover) {
  .social__link:hover .social__link-icon {
    fill: var(--first-color-text-hover);
  }
  .social__link:active .social__link-icon {
    fill: var(--first-color-text-active);
  }
}
.social__link-icon {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  fill: #999999;
}
.social__link.focus-visible .social__link-icon {
  fill: var(--first-color-button-focus-visible);
}

@media (prefers-reduced-motion: reduce), (update: slow) {
  *,
  *::before,
  *::after {
    -webkit-transition-duration: 0.001ms !important;
            transition-duration: 0.001ms !important;
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
    -webkit-animation-duration: 0.001ms !important;
            animation-duration: 0.001ms !important;
    -webkit-animation-delay: 0s !important;
            animation-delay: 0s !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}